@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=League+Spartan:wght@100..900&display=swap');

* {
  font-family: 'League Spartan', sans-serif;
  font-weight: 200;
}

main {
  min-height: 80vh;
}

.logo {
  margin-right: 10px;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f3c80a;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.btn-dk {
  background-color: #111;
  color:#ffd700;
}
.btn-dk:hover {
  background-color: #555;
  color: #ffee00;
}
.btn-dk:disabled {
  background-color: #555;
  color: #ffee00;
}

.btn-gd {
  background-color: #ffd700;
  color: #111;
}
.btn-gd:hover {
  background-color: #ffee00;
  color: #555;
}
.btn-gd:disabled {
  background-color: #ffee00;
  color: #555;
}

.btn-lg {
  background-color: #eee;
  color: #111;
}
.btn-lg:hover {
  background-color: #ccc;
  color: #555;
}
.btn-lg:disabled {
  background-color: #ccc;
  color: #555;
}
