@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

button, a, 
.social, 
.transition-effect {
  transition: all 0.5s ease-in-out;
}

@layer components {
  .logo {
    font-family: 'Great Vibes', cursive;
  }

  .centre {
    @apply flex items-center justify-center;
  }
  
  .just-between {
    @apply flex items-center justify-between;
  }
  
  .centre-items {
    @apply flex items-center;
  }
  
  .centre-justify {
    @apply flex justify-center;
  }
}