@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import "tailwindcss";

@theme {
  --prime: #ff4500;
  --prime-dark: #de3b00;
  --prime-light: #ff5f34;
  --support: #008080;
  --support-dark: #012222;
  --support-light: #a9a9a9;
  --dark: #111;
  --light: #fffcfa;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
};
