@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Satisfy&display=swap');

* {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

:root {
  --primary: #ff4500;
  --primary-dark: #b43203;
  --primary-light: #f68e68;
  --secondary: #ffd700;
  --secondary-light: #f7eba6;  
  --dark: #111;
  --light: #fbfcff;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #333;
  --grey-light-extra: #eee;
  --transition: all 0.5s ease-in;
}

.bl-tx-dk {
  color: var(--primary-dark);
}

.bl-tx {
  color: var(--primary);
}

.bl-tx-lg {
  color: var(--primary-light);
}

.bl-bg-dk {
  background-color: var(--primary-dark);
}

.bl-bg {
  background-color: var(--primary);
}

.bl-bg-lg {
  background-color: var(--primary-light);
}

.ye-tx {
  color: var(--secondary);
}

.ye-tx-lg {
  color: var(--secondary-light);
}

.ye-bg {
  background-color: var(--secondary);
}

.ye-bg-lg {
  background-color: var(--secondary-light);
}

.gr-tx-dk {
  color: var(--grey-dark);
}

.gr-tx {
  color: var(--grey-medium);
}

.gr-tx-lg {
  color: var(--grey-light);
}

.gr-tx-lx {
  color: var(--grey-light-extra);
}

.gr-bg-dk {
  background-color: var(--grey-dark);
}

.gr-bg {
  background-color: var(--grey-medium);
}

.gr-bg-lg {
  background-color: var(--grey-light);
}

.gr-bg-lx {
  background-color: var(--grey-light-extra);
}

.dk-tx {
  color: var(--dark);
}

.lg-tx {
  color: var(--light);
}

.dk-bg {
  background-color: var(--dark);
}

.lg-bg {
  background-color: var(--light);
}

body {
  background-color: var(--light)  ;
}

main {
  min-height: 80vh;
}

.logo {
  font-family: 'Satisfy', cursive;
  margin-right: 10px;
}

.navbar-toggler {
  background-color: var(--grey-dark);
  transition: var(--transition);
}

.navbar-toggler:hover {
  background-color: var(--primary-light);
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.menu-item {
  color: var(--light);
  transition: var(--transition);
}

.menu-item:hover {
  color: var(--primary-light);
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: var(--secondary);
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 400;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: var(--secondary-light);
  padding: 10px;
  border: 1px solid var(--grey-dark);
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
