@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Satisfy&display=swap');

* {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

.logo {
  font-family: 'Satisfy', cursive;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  border: 1px solid transparent;
}

.navbar-toggler:focus .navbar-toggler-icon {
  border: 1px solid #ff4500;
}